<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

    <title>Fun With Chords</title>

    <link href='//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.1/paper/bootstrap.min.css'
        rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css'
        rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<script type="text/template" id="user-template">
    <div id="contact-<%= username %>" class="contact" status="<%= status %>" file-id="<%= fileId %>">
        <div class="status"></div>
        <p class="username"><%= username %></p>
        <canvas class="progress" width="36" height="36"></canvas>
    </div>
</script>
<!-- TODO: differentiate file template -->
<script type="text/template" id="file-template">
    <div id="contact-<%= filename %>" class="contact" status="<%= status %>" file-id="<%= fileId %>">
        <div class="status"></div>
        <p class="username"><%= username %></p>
        <canvas class="progress" width="36" height="36"></canvas>
    </div>
</script>

<div class="container-fluid">
    <header class="row">
        <div class="row">
            <div class="col-md-3 legend">
                <div style="background-color: limegreen" class="legend-elem">Pinned</div>
                <div style="background-color: orange" class="legend-elem">Cached</div>
                <div style="background-color: darkred" class="legend-elem">Remote</div>
            </div>
            <div id="title-panel" class="col-md-6">
                <h1 id="title">Fun With Chords</h1>
            </div>

            <div id="username-panel" class="col-md-3">
                <h3 id="my-username">Connecting...</h3>
            </div>
        </div>

        <div class="row">
            <div id="playback-controls" class="col-md-12">
                <button id="upload-button" class="btn btn-info">Upload</button>
                <input id="upload-input" type="file"
                    class="share hidden" name="Upload">
                <button id="fetch-button" class="btn btn-default">Fetch</button>
                <button id="play-button" class="btn btn-success">Play</button>
                <button id="stop-button" class="btn btn-default">Stop</button>
            </div>
        </div>
    </header>

    <div class="row">
        <div id="file-panel" class="col-md-8"></div>
        <div id="user-panel" class="col-md-4"></div>
    </div>

    <div class="row byline">
        <div class="col-12-xs">
            <p>Powered by <a href="//pubnub.com">PubNub</a></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://pubnub.a.ssl.fastly.net/pubnub-3.7.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script src="vendor/webrtc-beta-pubnub.js"></script>
<script src="vendor/underscore.js"></script>
<script src="vendor/base64binary.js"></script>

<script src="src/file-manager.js"></script>
<script src="src/audio-manager.js"></script>
<script src="src/peer-time.js"></script>
<script src="src/file-entry.js"></script>
<script src="src/file-store.js"></script>
<script src="src/connection.js"></script>
<script src="src/dht.js"></script>
<script src="src/views/playback-control-view.js"></script>
<script src="src/views/file-list-view.js"></script>
<script src="src/views/file-view.js"></script>
<script src="src/views/user-list-view.js"></script>
<script src="src/views/user-view.js"></script>
<script src="src/client.js"></script>
<script src="src/app.js"></script>
</body>
</html>
