<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>

    <title>MusicBeacon</title>

    <link href='//fonts.googleapis.com/css?family=Racing+Sans+One' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<script type="text/template" id="template">
    <div id="contact-<%= username %>" class="contact" status="<%= status %>" file-id="<%= fileId %>">
        <div class="status"></div>
        <p class="username"><%= username %></p>
        <canvas class="progress" width="36" height="36"></canvas>
    </div>
</script>

<div class="top-bar">
    <button style="background-color: limegreen" class="topbar-button">Pinned</button>
    <button style="background-color: orange" class="topbar-button">Cached</button>
    <button style="background-color: darkred" class="topbar-button">Remote</button>
    <h1 class="title">Fun With Chords</h1>
    <button style="background-color: teal" class="topbar-button-right">Connected</button>
    <button style="background-color: darkred" class="topbar-button-right">Timeout</button>
</div>

<div class="top-bar">
    <button id="upload-button" class="topbar-button">Upload</button>
    <input id="upload-input" type="file" class="share hidden" name="Upload">
    <button id="fetch-button" class="topbar-button">Fetch</button>
    <button id="play-button" class="topbar-button">Play</button>
    <button id="stop-button" class="topbar-button">Stop</button>
    <p class="my-username"></p>
</div>

<div class="file-list"></div>
<div class="contact-list"></div>

<a id="download"></a>

<div class="byline">
    <p>Powered by
        <a href="//pubnub.com">PubNub</a>
    </p>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://pubnub.a.ssl.fastly.net/pubnub-3.7.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="vendor/webrtc-beta-pubnub.js"></script>
<script src="vendor/underscore.js"></script>
<script src="vendor/base64binary.js"></script>
<script src="vendor/md5.js"></script>
<script src="src/file-manager.js"></script>
<script src="src/audio-manager.js"></script>
<script src="src/peer-time.js"></script>
<script src="src/file-entry.js"></script>
<script src="src/file-store.js"></script>
<script src="src/connection.js"></script>
<script src="src/dht.js"></script>
<script src="src/client.js"></script>
<script src="src/app.js"></script>
</body>
</html>
