/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

header {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    vertical-align: middle;
}

.right-align {
    text-align: right;
}

header > div > div {
    margin-bottom: 20px;
}

#title-panel {
    text-align: center;
}

#title {
    margin-top: 0px;
    font-weight: bold;
    font-size: 50px;
}

#playback-controls {
    text-align: center;
}

.component {
    display: none;
}

#download {
    display: none;
}

.top-bar {
    height: 60px;
    background-color: #262220;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: white;
}

#username-panel {
    text-align: right;
}

@media screen and (max-width: 992px) {
    #username-panel, .legend {
        text-align: center;
    }
}

#my-username {
    margin: 0;
}

.legend-elem {
    display: inline-block;
    padding: 6px 16px;
    font-weight: bold;
    color: white;
    border-radius: 3px;
}

.file-list > .selected {
    background-color: #574E4A;
}

.user {
    background-color: #262220;
    border-bottom: solid 5px #EEEBE4;
    /*padding: 5px;*/
    height: 45px;
    color: #EEEBE4;
}

    .user > * {
        display: inline-block;
    }

    .user .username {
        margin-left: 18px;
        max-width: 300px;
        font-weight: bold;
        display: inline-block;
        margin-top: 15px;
        overflow: hidden;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .user .share {
        color: white;
        margin-top: 12px;
        float: right;
    }

    .user .get {
        margin-top: 14px;
        margin-right: 10px;
        float: right;
        max-width: 325px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .user .cancel {
        margin-top: 14px;
        margin-right: 10px;
        float: right;
    }

    .user .status {
        height: 45px;
        width: 10px;
        /*border-radius: 50%;*/
        display: inline-block;
        position: absolute;
    }

    .user[status=connected] .status {
        background-color: teal;
    }

    .user[status=timeout] {
        display: none;
    }

    .user[status=pinned] .status {
        background-color: limegreen;
    }

    .user[status=local] .status {
        background-color: orange;
    }

    .user[status=remote] .status {
        background-color: darkred;
    }

    .user .progress {
        float: right;
        margin-top: 5px;
        margin-right: 5px;
    }

/* Login area */
.login-area {
    display: none;
}

.outer-box {
    background: white;
    width: 332px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}

.register-box {
    border: solid 1px silver;
    padding: 15px;
    width: 300px;
}

.login-head {
    color: #555;
    font-size: 28px;
    margin-bottom: 15px;
}

.name-input {
    height: 35px;
    line-height: 28px;
    font-size: 25px;
    color: grey;
    max-width: 200px;
}

.confirm-name-area {
    background-color: #E85851;
    width: 100%;
    height: 0px;
    padding-top: 10px;
}

.confirm-name {
    font-size: 24px;
    text-decoration: none;
    color: #f3f3f3;
    display: none;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    -webkit-transition: color .5s;
    transition: color .5s;
}

.confirm-name:hover {
    color: white;
}

.byline {
    position: fixed;
    bottom: 15px;
    left: 15px;
}

.hidden {
    display: none;
}
